<h3>Student: <span th:text="${internship.getStudent().getName() + ' ' + internship.getStudent().getLastName()}"></span></h3>
<h3>Supervisor:
    <span th:text="@{${internship.getSupervisor() == null} ? 'TBD' : ${internship.getSupervisor().getFullName()}}"></span>
</h3>
<h3>Coordinator:
    <span th:text="@{${internship.getProfessor() == null} ? 'TBD' : ${internship.getProfessor().getName()}}"></span>
</h3>

<table>
    <tr>
        <th>Start date</th>
        <th>End date</th>
        <th>Description</th>
    </tr>
    <tr th:each="week : ${internship.getJournal()}">
        <td th:text="${week.getStartDate()}"></td>
        <td th:text="${week.getEndDate()}"></td>
        <td th:text="${week.getDescription()}"></td>
    </tr>
</table>

<div th:with="InternshipStatus=${T(mk.ukim.finki.wp.internships.model.internships.InternshipStatus)}">
    <hr>
    <form method="post" th:if="${internship.getStatus() == InternshipStatus.PENDING_PROFFESSOR_REVIEW}" th:action="@{'/coordinator/' + ${internship.getId()} + '/approve'}">
        <input type="hidden" name="internshipId" th:value="${internship.getId()}">
        <button type="submit">Approve</button>
    </form>
    <form method="post" th:if="${internship.getStatus() == InternshipStatus.DEPOSITED}" th:action="@{'/coordinator/' + ${internship.getId()} + '/revoke-approval'}">
        <input type="hidden" name="internshipId" th:value="${internship.getId()}">
        <button type="submit">Revoke approval</button>
    </form>
</div>