<h1>Internships for <span th:text="${student.getName() + ' ' + student.getLastName() + ' (' + student.getIndex() + ')'}"></span></h1>

<table>
    <tr>
        <th>Position</th>
        <th>Company</th>
        <th>Weeks-num</th>
        <th>Weeks-completed</th>
        <th>Internship-status</th>
    </tr>
    <tr th:each="internship : ${internships}">
        <td th:text="${internship.getPosting().getPosition()}"></td>
        <td th:text="${internship.getPosting().getCompany().getName()}"></td>
        <td th:text="${internship.getPosting().getPlannedWeeks()}"></td>
        <td th:text="${internship.getJournal().size()}"></td>
        <td th:text="${internship.getStatus()}"></td>
    </tr>
</table>

<form method="get" action="">

</form>